:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --color-accent: #2196f3;
  --color-fon: #2f303a;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --button-primary-focus: #188ce8;
  --color-icon-fill: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__colortext {
  color: var(--color-accent);
}

.header-nav__logo {
  margin-right: 93px;
}

.footer__logo {
  color: var(--white-color);
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  width: 145px;
}

.link {
  display: inline-block;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title, .section-team__title, .opportunities__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--white-color);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  /* button portfolio */
}
.button__primary {
  display: inline-block;
  height: 50px;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--color-accent);
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function);
}
.button__primary:hover, .button__primary:focus {
  color: var(--button-primary-focus);
}
.button__secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button__secondary:hover, .button__secondary:focus {
  color: var(--white-color);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button__secondary--active {
  background-color: var(--color-accent);
  color: var(--white-color);
}
.button__submit {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 30px auto 0 auto;
  border: none;
  transition: color 250ms var(--timing-function);
}
.button__submit:hover, .button__submit:focus {
  color: var(--button-primary-focus);
}

.subscription {
  display: block;
  position: relative;
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.subscription__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.subscription__label {
  display: block;
  position: absolute;
  top: 70%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 250ms var(--timing-function);
}
.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background: var(--color-fon);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  outline: none;
}
.subscription__input:not(:-moz-placeholder-shown) + .subscription__label {
  transform: translateY(35px);
  color: var(--white-color);
}
.subscription__input:not(:-ms-input-placeholder) + .subscription__label {
  transform: translateY(35px);
  color: var(--white-color);
}
.subscription__input:focus + .subscription__label, .subscription__input:not(:placeholder-shown) + .subscription__label {
  transform: translateY(35px);
  color: var(--white-color);
}

.footer-submit {
  position: absolute;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: 12px;
  top: 36px;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms var(--timing-function);
}
.footer-submit:hover, .footer-submit:focus {
  color: var(--button-primary-focus);
}
.footer-submit__icon.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0px;
  top: 0px;
  position: fixed;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: var(--color-accent);
}
.close-btn__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
  fill: #000000;
}
.close-btn__element {
  align-items: center;
}

.form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  transition: border 250ms var(--timing-function);
}

.form__input:focus {
  border: 1px solid var(--color-accent);
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 65%;
  transform: translateY(-50%);
}

.form__person.icon {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.form__label:focus-within .form__person.icon {
  fill: var(--color-accent);
}

.comment {
  margin-bottom: 20px;
}

.form__feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  transition: border 250ms var(--timing-function);
}

.form__feedback:focus {
  border: 1px solid var(--color-accent);
  outline: none;
}

.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.checkbox-field__input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-field__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  fill: var(--white-color);
  border: 2px solid var(--title-text-color);
  transition: transform 250ms var(--timing-function), fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.checkbox-field__input:checked ~ .checkbox-field__icon {
  background-color: var(--color-accent);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  fill: var(--color-accent);
}
.checkbox-field__link {
  color: var(--color-accent);
  text-decoration: underline;
  margin-left: 4px;
}

.checkbox-field__label {
  left: 24px;
}

header {
  border-bottom: 1px solid #ececec;
  display: block;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav__item {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}
.site-nav__item {
  margin-right: 50px;
  width: auto;
}
.site-nav__item:last-child {
  margin-right: 0px;
}
.site-nav__link--current {
  position: relative;
  color: var(--color-accent);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-accent);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.adr-nav {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.adr-nav__list:not(:last-child) {
  margin-right: 50px;
}

.adr-nav__icon {
  position: relative;
  top: 3px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.adr-nav__icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
}

.adr-nav__icon-telefon {
  width: 10px;
  height: 16px;
}

.adr-nav__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.adr-nav__link:hover,
.adr-nav__link:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.hero {
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--color-fon);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Img_hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.71;
}

.benefits__inner {
  width: 270px;
}

.benefits__icon-inner {
  display: flex;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__inner:not(:last-child) {
  margin-right: 30px;
}

.benefits__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.benefits__list:last-child {
  margin-right: 0;
}

.benefits__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.opportunities {
  padding-top: 0px;
}

.scope-card {
  display: flex;
}
.scope-card__item {
  position: relative;
  margin-right: 30px;
}
.scope-card__item:last-child {
  margin-right: 0;
}
.scope-card__set {
  position: relative;
}
.scope-card__overley {
  position: absolute;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  bottom: 0px;
  left: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.scope-card__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.section-team {
  background-color: var(--secondary-bg-color);
}

.team-card {
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: -30px;
  margin-right: -30px;
}
.team-card:last-child {
  margin-right: 0;
}
.team-card__item {
  background-color: var(--white-color);
  flex-basis: calc((100% - 30px) / 4);
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card__item:last-child {
  margin-right: 0px;
}
.team-card__content {
  padding: 30px;
  text-align: center;
}
.team-card__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-card__text {
  font-size: 16px;
  line-height: 1.19;
}
.team-card__social {
  display: flex;
  margin-top: 16px;
  margin-bottom: 0px;
}
.team-card__list {
  margin-right: 10px;
}
.team-card__list:last-child {
  margin-right: 0px;
}

.card {
  margin-top: 50px;
}

.card .text {
  margin-top: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 250ms var(--timing-function), background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color-accent);
  fill: var(--white-color);
  transform: scale(1.2);
}

.social__link:hover .social__page,
.social__link:focus .social__page {
  fill: var(--white-color);
}

.social__page {
  width: 20px;
  height: 20px;
  fill: var(--color-icon-fill);
}

.social__icon {
  align-items: center;
}

.our-client {
  display: flex;
  margin-right: auto;
  margin-top: auto;
}
.our-client__card {
  margin-right: 30px;
  margin-top: 0px;
}
.our-client:last-child {
  margin-right: 0px;
}
.our-client__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.our-client__link:hover, .our-client__link:focus {
  border: 1px solid var(--color-accent);
}
.our-client__link:hover .our-client__icon, .our-client__link:focus .our-client__icon {
  fill: var(--color-accent);
}
.our-client__icon {
  width: 106px;
  height: 60px;
  fill: var(--color-icon-fill);
  transition: fill 250ms var(--timing-function);
}

.footer {
  color: var(--white-color);
  background-color: var(--color-fon);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__info {
  display: flex;
  align-items: baseline;
}
.footer-contact {
  width: 231px;
}
.footer-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color 250ms var(--timing-function);
}
.footer-link:hover, .footer-link:focus {
  background-color: var(--color-accent);
}
.footer-adr {
  display: block;
  width: 231px;
}

.social__page--white {
  fill: var(--white-color);
}

.wrapper__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.wrapper__link:hover, .wrapper__link:focus {
  color: var(--color-accent);
}
.wrapper__link--first {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}
.wrapper__item {
  margin-top: 9px;
}
.wrapper__item:first-child {
  margin-top: 0px;
}

.inviting {
  width: 206px;
  margin-left: 70px;
}
.inviting__network {
  display: flex;
  margin-top: 20px;
}
.inviting__list {
  margin-right: 10px;
}
.inviting__list:last-child {
  margin-right: 0px;
}
.inviting__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0px;
}

.portfolio-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-set {
  display: flex;
}
.button-set__list {
  margin-right: 8px;
}
.button-set__list:last-child {
  margin-right: 0px;
}

.portfolio-card {
  margin-top: 50px;
}

.propose {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.propose__list {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 90px) / 3);
}
.propose__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
  border: 1px solid #eeeeee;
}
.propose__link:hover, .propose__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.propose__thumb {
  position: relative;
  overflow: hidden;
}
.propose__overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}
.propose__link:hover .propose__overley, .propose__link:focus .propose__overley {
  transform: translateY(0);
}
.propose__overley-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.propose__content {
  padding: 20px 24px;
}
.propose__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 0px;
}
.propose__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */