:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --color-accent: #2196f3;
    --color-fon: #2f303a;
    --white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --button-primary-focus: #188ce8;
    --color-icon-fill: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }