.client {

  @media screen and (min-width: 320px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px
  }
}

.client__title {
  @extend %title;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
   
}

.our-client {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    @media screen and (min-width: 320px){
      justify-content: center;
    }

    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
        
  
  &__card {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    @media screen and (min-width: 320px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
      // margin-right: 15px;
      // margin-left: 15px;

      
    }
    
    // &:last-child {
    //   margin-right: 0;
    // }
  }

  &__card:nth-last-child(-n+3) {
    @media screen and (min-width: 768px){
      margin-bottom: 0;
    }
    
  }
  
  // &:last-child {
  //   margin-right: 0;
  //   margin-bottom: 0;
  // }
  
  &__link {
    display: flex;
    
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  
    @media screen and (min-width: 320px){
      width: 210px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
  
  &__link:hover,
  &__link:focus {
    border: 1px solid var(--color-accent);
  }
  
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--color-accent);
  }
  
  &__icon {
    width: 106px;
    height: 60px;
    fill: var(--color-icon-fill);
    transition: fill 250ms var(--timing-function);
  }
  
 }