header {
  border-bottom: 1px solid #ececec;
    display: block;
    align-items: center;
  position: relative;
}

  .header-nav {
    @media screen and (min-width: 768px) {
      display: flex;
      width: 100%;
      align-items: center;
      min-height: 60px;
    }
  }

  .site-nav {
    @media screen and (max-width: 767px) {
        display: none;
      }

    @media screen and (min-width: 768px) {
      display: flex;

      .site-nav__item {
        margin-right: 50px;
       width: auto;
     }
     
     .site-nav__item:last-child {
       margin-right: 0px;
     }

    }


  &__link--current {
    position: relative;
    color: var(--color-accent);
  }
  
  &__link--current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--color-accent);
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
  }
  
  .adr-nav {
    @media screen and (max-width: 767px) {
      display: none;
    }
    
    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-left: auto;
      margin-top: 21px;
      margin-right: 0;
      margin-bottom: 11px;
     
     
    }
  }
  
    @media screen and (min-width: 1200px) {
      .adr-nav {
        display: flex;
        align-items: flex-end;
      }
      

    .adr-nav__list:not(:last-child) {
      margin-right: 50px;
    }
  }

  
  .adr-nav__icon {

    // @media screen and (min-width: 480px) {
    //   display: none;
    // }
    @media screen and (min-width: 768px) {
      position: relative;
     top: 3px;
     margin-right: 10px;
     width: 16px;
     height: 16px;
    }
     
  }
  
  .adr-nav__icon-envelope {

    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 14px;
        height: 10px;
      }
   
    @media screen and (min-width: 1200px) {
     display: inline-block;
     width: 16px;
     height: 12px;
    }
  }
  
  .adr-nav__icon-telefon {
     

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }


  }

  .adr-nav__link {
     display: block;
     padding: 32px 0;
  
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
  
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
      padding-top: 0;
      padding-bottom: 10px;

    }
  }
      
    



  
  .adr-nav__link:hover,
  .adr-nav__link:focus {
    color: var(--color-accent);
    fill: var(--color-accent);
  }

  .adr-nav__link-tel {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
