.hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-fon);
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/img_hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../img/img_hero@2x.jpg');
        }
  
    @media screen and (min-width: 320px)  {
      max-width: 480px;
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          ('../img/img_hero.jpg');
    }

    @media screen and (min-width: 768px)  {
      max-width: 768px;
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          ('../img/img_hero.jpg');
    }

    @media screen and (min-width: 1200px) {
      max-width: 1600px;
    }

  
  &__title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 320px) {
      width: 100%;
      max-width: 360px;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      
    }
  }

  @media (min-device-pixel-ratio:2) ,
  (min-resolution:192dpa) ,
  (min-resolution:2dppx) {
    & {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Img_hero@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }
  }

}