.header__mobile-social {
    @media screen and (min-width: 320px) {
        display: flex;
        position: absolute;
        left: 40px;
        top: 726px;

    }
}

.header__mobile-list:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
}

.header__mobile-link {
    font-weight: 500;
    
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-right: 10px;
    text-decoration: none;
    color: var(--color-accent);

    @media screen and (min-width: 320px) {
        font-size: 12px;
    }

    @media screen and (min-width: 480px) {
        font-size: 18px;
    }
}
