.header__mobile-social {
    @media screen and (min-width: 480px) {
        display: flex;
        position: absolute;
        left: 30px;
        bottom: 48px;

    }
}

.header__mobile-list:not(:last-child) {
    // position: absolute;
    // width: 22px;
    // height: 1px;    
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    // transform: rotate(90deg);
    
}

.header__mobile-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-right: 10px;
    text-decoration: none;
    color: var(--color-accent);
}